<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <link rel="apple-touch-icon" sizes="76x76" href="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/apple-icon.png" />
      <link rel="icon" type="image/png" href="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/favicon.png" />
      <title>Choose Password</title>
      <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
      <meta name="viewport" content="width=device-width" />
      <!-- CSS Files -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/css/styles.css" rel="stylesheet" />
      <!-- Fonts and Icons -->
      <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
   </head>
   <body>
      <div class="image-container set-full-height">
         <div class="header">
            <div class="logosection">	    	
               <a href="#"><img src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/new_logo.png"></a>
            </div>
         </div>
         <!--   Big container   -->
         <div class="container">
            <div class="row">
               <div class="col-sm-4 col-sm-offset-4">
                  <!--      Wizard container        -->
                  <div class="wizard-container">
                     <div class="wizard-header1">
                        <div class="signuphead">Sign In</div>
                     </div>
                     <div class="signupbody">
                        <div class="card wizard-card" data-color="green" >
                           <form action="" method="">
                              <div class="wizard-header1">
                                          <div class="usericon"><img alt="verify" src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/choose.png"></div>
                                       </div>
                              <div class="row">
                                 <div class="col-sm-10 col-sm-offset-1">
                                    <div class="col-sm-12">
                                            <div class="form-group">
                                                    <input type="hidden" class="form-control" id="email"  name="email">
                                            </div>
                                       <div class="wizard-header1">
                                          <h4  class="signupcz" style="margin: 20px 0px;font-size: 16px; color:#8a888b">Choose your New password</h4>
                                       </div>
                                       <div class="row">
                                          <div class="col-sm-12">
                                             <label>Password</label>
                                             <input type="password" id="newpassword" class="form-control" placeholder="">
                                          </div>
                                       </div>
                                       <div class="row">
                                          <div class="col-sm-12">
                                             <label>Re-enter Password</label>
                                             <input type="password" id="password" class="form-control" placeholder="">
                                          </div>
                                       </div>
                                       <div class="row">
                                          <input type="submit" id="send_pwd" name="submit" class="submitlink" value="Cahnge">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
                  <!-- wizard container -->
               </div>
            </div>
            <!-- row -->
         </div>
         <!--  big container -->
      </div>
      <p style="display:none;" id="eid"><%=email %></p>
   </body>
   <!--   Core JS Files   -->
   <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>	
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
   <!--  Plugin for the Wizard -->
   <script src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/js/paper-bootstrap-wizard.js" type="text/javascript"></script>	
   <script src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/js/jquery.validate.min.js" type="text/javascript"></script>
   <script>
      $(document).ready(function(){	
        $("#email").val($("#eid").html());
		console.log("email:"+$("#eid").html());			
      	//$("#basketone").show();
      	$("#baskettwo").show();
      
      	//$("#planone").show();
      	$("#plantwo").show();	
      
      	//$("#paymentone").show();
      	$("#paymenttwo").show();	
      });
   </script>
   <script type="text/javascript">
    $("#send_pwd").click(function(e){
        e.preventDefault();
        var email=document.getElementById('email').value;
        var password=document.getElementById('newpassword').value;
        
        $.ajax({
                    type: 'POST',
                    url: 'http://ec2-35-154-68-84.ap-south-1.compute.amazonaws.com:8086/api/users/updatepwd',
                    data: {
                    email:email,
                    newpassword:password
                    },
                    success: function (res) {
                        alert(res.status);
                        window.location="/";
                    },
                    error:function(jqXHR, textStatus, errorThrown){
                    alert('error: ' + textStatus + ': ' + errorThrown);
                    console.log(errorThrown);
                      }
                    });	
            
                

    });
    

</script>		
</html>